<div class="wrapper d-flex align-items-stretch custom_top">
  <nav id="sidebar " class="active add_sidebar">
    <h1></h1>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#"><span class="fa fa-home"></span> Home</a>
      </li>
      <li>
          <a href="#"><span class="fa fa-user"></span> About</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-sticky-note"></span> Blog</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-cogs"></span> Services</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-paper-plane"></span> Contacts</a>
      </li>
      <!-- <button (click)=”addNewDiv()”>Add New Div</button> -->


    </ul>
  </nav>
  <div id="content" class="p-4 p-md-5">
                <!-- <div class="col-8 d-grid"> -->
                            <div class="example-boundary" >
                              <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
                                I can only be dragged within the dotted container
                              </div>

                            </div>
                          <!-- </div> -->
          </div>
</div>


