
    <form>
      <div class="main_form">
        <h2>  Register Your Account </h2>
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input type="text" class="form-control" formControlName="fullname" id="exampleInputPassword1" placeholder="Username">
          <small id="emailHelp" class="form-text text-muted">Use First name to set user name</small>
        </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password"  formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <small id="emailHelp" class="form-text text-muted">Use Special Symbol and make it stronger.</small>
      </div>

      <div class="btn_cls">
        <a  class="btn btn-primary" routerLink="/register"> Register </a>
        <div class="register_link"><small id="emailHelp" class="form-text text-muted">Already have a account please<a  class="" routerLink="/login"> Login</a></small></div>

    </div>
    </div>
    <div class="social">
      <strong><small id="emailHelp" class="form-text text-muted  divider">-------------------------------or------------------------------</small></strong>

    <a   routerLink="/login"> <img width="40" alt="Google" src="./assets/img/g.png"/></a>
    <a   routerLink="/login"><img width="37" alt="Google" src="./assets/img/f.png"/></a>
    </div>

    </form>

