
  <div class="wrapper d-flex align-items-stretch custom_top">
  <nav id="sidebar " class="active add_sidebar">
    <h1>Visulization</h1>
    <ul class="list-unstyled components mb-5">
      <div class="row cus_vituacal">

        <li class="active col-sm">
          <button href="#" (click)="addControl()"  ><img src="./assets/img/numbers.png" width="50px" height="50px"/> Number</button>
        </li>
        <li class="col-sm">
            <a href="#" ><img src="./assets/img/greport.png" width="50px" height="50px"/> Line</a>
        </li>
        <li class="col-sm">
          <a href="#" ><img src="./assets/img/bar.png" width="50px" height="50px"/> Bar</a>
        </li>
        <li class="col-sm">
          <a href="#" ><img src="./assets/img/pie.png" width="50px" height="50px"/> Pie</a>
        </li>
        <li class="col-sm">
          <a href="#"><img src="./assets/img/Date.png" width="50px" height="50px"/> Date</a>
        </li>
        <li class="col-sm">
          <a href="#"><img src="./assets/img/img.png" width="50px" height="50px"/>  Image</a>
        </li>

      </div>
    </ul>



          <h1>Megerment</h1>

          <div class="width_cus">
            <label>Width</label>
          <input type="text"  class="cus_width" value="{{width}}" placeholder="0" /></div>
          <div class="height_cus">
            <label>height</label>
          <input type="text"  class="cus_height" value="{{height}}" placeholder="0"/></div>
          <div class="height_cus">
            <label>X axis </label>
          <input type="text"  class="cus_height" value="{{transletAxisX}}" placeholder="0"/></div>
          <div class="height_cus">
            <label>Y axis </label>
          <input type="text"  class="cus_height" value="{{transletAxisY}}" placeholder="0"/></div>


          <button>Save</button>
          <button>Preview</button>

</nav>


    <div id="content"  class="p-4 p-md-5 example-boundary" >
      <div class="example-boundary">
    <div  cdkDragBoundary=".example-boundary" *ngFor="let control of controls;"
          #resizeBox class="control-image" [id]="(control.index)" [ngClass]="'cus_control'"  style="position: relative;" cdkDrag cdkDragBoundary=".header-image"
          [style.width.px]="control.width"
          [style.height.px]="control.height"
          (click)="clickControl(control,status)"
          [ngClass]="status ? 'success_btncliekedones' : 'danger'" >

          <span class="element_menu_removel">
          <span class="open-button" (click)="clickOutside()"><i class="bi bi-three-dots-vertical"></i></span>
          <span><i class="bi bi-trash-fill"></i></span>
        </span>

                <span #dragHandleRB [cdkDragLockAxis]="lockAxis" class="dragHandle rb" cdkDrag (cdkDragMoved)="dragMove(dragHandleRB, $event, control)"></span>
                <div class="text_cls">{{control.index}}</div>
                <span #dragHandleBottom cdkDragLockAxis="y" class="dragHandle bottom" cdkDrag (cdkDragMoved)="dragMove(dragHandleBottom, $event, control)"></span>
                <span #dragHandleRight cdkDragLockAxis="x" class="dragHandle right" cdkDrag (cdkDragMoved)="dragMove(dragHandleRight, $event, control)"></span>
                <div *ngIf="opened" class="menu" (clickOutside)="clickOutside()"><li>menu 1</li><li>menu 2</li></div></div>

          </div>

</div>

</div>

<!-- <button class="vis_cus_btn" (click)="addControl()">add</button>
<div *ngFor="let control of controls;">
  <div class="width_cus">
    <label>Width</label>

  <input type="text"  class="cus_width{{control.index}}" value="{{control.width}}" max="400"/></div>
  <div class="height_cus">
    <label>height</label>
  <input type="text"  class="cus_height{{control.index}}" value="{{control.height}}"/></div>

</div> -->
