<div class="toolbar" role="banner">
  <img  width="40" alt="ODT" src="./assets/logo-w.png">
  <span>ORANGEPAD</span>


    <div class="spacer"></div>
    <a  href="https://youtube.com/angular" title="Add dashboard">
      <i class="bi bi-plus-square-fill"></i>
    </a>
    <a  href="https://youtube.com/angular" title="All Dashboards">
      <i class="bi bi-clipboard2-data"></i>
    </a>
    <a  href="https://youtube.com/angular" title="Data Managers">
      <i class="bi bi-file-earmark-bar-graph-fill"></i>
    </a>
    <a  href="https://youtube.com/angular" title="Data Sources">
      <i class="bi bi-clipboard-data-fill"></i>
    </a>
    <a  href="https://youtube.com/angular" title="Metrics">
      <i class="bi bi-123"></i>
    </a>
</div>
