form{
  padding: 8% 35% 3% 35%;

}
.socila_text{
  font-weight: 600;
  color: #000 !important;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.social {
  text-align: center;
  padding-top: 20px;
}
.main_form {
  border: 1px solid #ffffff;
  padding: 45px 30px;
  background: #ffffff;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;

}
a.btn.btn-primary:nth-child(2) {
  margin-left: 20px;
}
.main_form h2 {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
  font-size: 28px;
}

.form-group{
  margin-bottom: 40px;
}
.cus_contact{
  margin-bottom: 20px;
}
