.container {
  position: absolute;
  background-color: #00000024;
  border: dashed 1px #dedede;
}

.dragHandle {
  position: absolute;
  z-index: 1;
}

.dragHandle svg {
  position: relative;
  top: -10px;
  right: 20px
}

svg {
  color: black;
}

.dragHandle.corner {
  width: 15px;
  height: 15px;
  cursor: nwse-resize;
}

.dragHandle.right {
  width: 2px;
  height: 100%;
  cursor: ew-resize;
}

.dragHandle.bottom {
  height: 2px;
  width: 100%;
  cursor: ns-resize;
}

.box {
  width: 300px;
  height: 100px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.boundary {
  max-width: 100%;
  border: dotted #ccc 2px;
  background-size: contain;
  background-position: 50% 50%;
  position: relative;
  background-repeat: no-repeat;
}

.handle {
  position: absolute;
    bottom: 10px;
    left: 10px;
    color: #a49592;
    cursor: move;
    width: 24px;
    height: 24px;
    z-index: 9;
}
.bi-arrow-down-right-square{
position: relative;
    top: -10px;
    right: 20px;
}
i.bi.bi-x {
  float: right;
  z-index: 9;
  position: relative;
  cursor: pointer;
  font-weight: 800;
  color: #000;
  font-size: 16px;
}
.mat-menu-content.ng-tns-c101-0 {
  padding: 0px;
}
#button {
  border: solid #471f1a;
  margin: 15px;
}

._btnDelete {
  position: absolute;
    right: 25px;
    top: 1px;
    color: black;
    cursor: pointer;
  }
._btnOption {
  position: absolute;
    right: 4px;
    top: 2px;
    color: black;
    cursor: pointer;}

.areaBtnBox {
  text-align: center;
  position: relative;
  top: calc(50% - 28px);
}


p {
  font-family: Lato;
}

.control-image {
  position: relative;
  background-color: #ffffffb5;
  text-align: left;
  cursor: move;
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 30%);

}

i.bi.bi-trash-fill {
  z-index: 999999;
  cursor: pointer;
}

.dragHandle {
  position: absolute;
  background-color: transparent;
}

.dragHandle.rb {
  width: 12px;
  height: 12px;
  cursor: nwse-resize;
  background: #bababa;
}

.dragHandle.right {
  width: 2px;
  height: 100%;
  cursor: ew-resize;
}

.success_btncliekedones {
  border: 2px solid #ff1313 !important;
  box-shadow: 1px 1px 3px 1px rgb(255 0 0 / 38%) !important;
  background: #fff !important;
}

.dragHandle.bottom {
  height: 2px;
  width: 100%;
  cursor: ns-resize;
}

.example-boundary {
  width: 100%;
  height: 100%;
  max-width: 100%;
  /* border: dotted #ccc 2px; */
}


.container.dashboard_cont {

  padding: 3px 17px;
  background: #474444;
  margin-top: 70px;
  margin-bottom: 20px;
}

.top_dis {
  margin-top: 70px;
}

.d-grid {
  background: #a1a1a1;
  padding: 80px;
  border: 1px dashed #fff;
  text-align: center;
}

.cdk-drag.box {
  width: 150px;
  height: 250px;
  border: 1px solid gray;
}

.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

span.currenttime {
  color: #fff;
  font-size: 10px;
}

.example-boundary {
  margin-top: 0px;
  width: 100%;
  height: 600px;
  max-width: 100%;
  /* border: dotted #000 2px; */
}

.custom_top {
  margin-top: 55px;
}

.add_sidebar {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
}

.p-md-5 {
  /* padding: 1rem!important; */
}

.add_sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #003c50;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.add_sidebar.active {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  padding: 20px;
}

.add_sidebar.active ul.components li {
  font-size: 14px;
}

.add_sidebar.active ul.components li a {
  padding: 4px 0;
}

.add_sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 24px;
}

.add_sidebar.active .logo {
  padding: 10px 0;
}

.add_sidebar.active .footer {
  display: none;
}

.add_sidebar .logo {
  display: block;
  color: #fff;
  font-weight: 900;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .add_sidebar .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.add_sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .add_sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.add_sidebar ul li {
  font-size: 16px;
}

.add_sidebar ul li>ul {
  margin-left: 10px;
}

.add_sidebar ul li>ul li {
  font-size: 14px;
}

.add_sidebar ul li a {
  display: block;
  color: white;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1);  */
}

.add_sidebar ul li a span {
  margin-right: 15px;
}

@media (max-width: 991.98px) {
  .add_sidebar ul li a span {
    display: block;
  }
}

.add_sidebar ul li a:hover {
  color: #fff;
}

.add_sidebar ul li.active>a {
  background: transparent;
  color: #fff;
}

@media (max-width: 991.98px) {
  .add_sidebar {
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    margin-left: -80px !important;
  }

  .add_sidebar.active {
    margin-left: 0 !important;
  }
}



/* this style for save a box with using this in dashboard */
.box-container {
  position: absolute;
  width: 100%;
  max-width: 1160px;
  transform-style: flat;
  height: 605px;
  margin-top: 25px;

  /* top: 50%;
          left: 60%; */
  transform: translate3d(-50%, -50%, 0);
}

/* .resizable-draggable {
          outline: 2px dashed white;
        } */
/* span:first-of-type {
              position: absolute;
              left: 50%;
              transform: translate3d(-50%, -100%, 0);
          }

          span:nth-of-type(2) {
              position: absolute;
              top: 50%;
              transform: translate3d(-100%, -50%, 0);
          } */
span:nth-of-type(3) {
  position: absolute;
  transform: translate3d(-100%, -100%, 0);
}


.resize-action {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent transparent #000;
}

.add_sidebar h1 {
  color: white;
  text-transform: uppercase;
}

.box-container {
  position: absolute;
  width: 100%;
  max-width: 1160px;
  transform-style: flat;
  height: 605px;
  margin-top: 25px;
  /* top: 50%;
    left: 60%; */
  border: 2px solid #003C50;
  transform: translate3d(-50%, -50%, 0);
  background: #003C50;
}

.text_cls {
  font-size: 28px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 30%;
  /* left: 50%; */
}

.p-md-5 {
  padding: 1rem !important;
}

#content {
  width: 100%;
  padding: 0;
  /* min-height: 90vh; */
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  /* box-shadow: 2px 0px 1px 1px rgb(0 0 0 / 30%); */
  transition: all 0.3s;
  background: #121d20eb;
}

.cus_vituacal li.col-sm {
  width: 75px;
  height: 75px;
  margin-right: 14px;
  background: #6b6b6b00;
  border: 1px solid #aba3a32e;
  margin-top: 20px;
}

.cus_vituacal li.col-sm:hover {
  border: 1px solid #fff;
  transition: 1s;
}

.cus_vituacal li button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  padding: 4px 0px;
}

.menu {
  position: relative;
  border: 1px solid #ffeb00;
  top: -35px;
  border-radius: 2px;
  left: 152px;
  width: 60px;
  font-size: 14px;
  list-style: none;
  background: #ffffff7a;
  padding: 5px;
  transition: 2s;
}

span.open-button {
  z-index: 999999;
  cursor: pointer;
}

span.element_menu_removel {
  position: relative;
  bottom: 26px;
  color: #fff;
  float: right;
  background: #000000ad;
  padding-right: 5px
}

.control-image {
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-block;
  justify-content: center;

  background: #fff;
  margin-right: 2px;
  margin-bottom: 2px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  /* padding: 10px; */
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.control-image:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
