<header class="masthead">
<div class="container px-5">
  <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
          <!-- Mashead text and app badges-->
          <div class="mb-5 mb-lg-0 text-center text-lg-start">
              <h1 class="display-1 lh-1 mb-3">About Orangepad</h1>
              <p class="lead fw-normal text-muted mb-5">Launch your mobile app landing page faster with this free, open source theme from Start Bootstrap!</p>
              <div class="d-flex flex-column flex-lg-row align-items-center">
                  <!-- <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="./assets/img/logo.png" alt="..." /></a> -->
                  <!-- <a href="#!"><img class="app-badge" src="assets/img/app-store-badge.svg" alt="..." /></a> -->
                  <a href="/login" class="login_cus_btn">Get Started</a>
              </div>
          </div>
      </div>
      <div class="col-lg-6">
          <!-- Masthead device mockup feature-->
          <div class="masthead-device-mockup">
              <div class="device-wrapper">
                  <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                      <div class="screen bg-black">
                        <!-- <img src="./assets/img/tis.png" width="100%" height="400px" alt=""> -->
                        <video muted="muted" autoplay="" loop="" style="max-width: 100%; height: 100%"><source src="https://www.geckoboard.com/assets/img/home/build-dashboards.webm" type="video/mp4" /></video>


                            </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</header>
<aside class="text-center bg-gradient-primary-to-secondary">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-xl-8">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>
      </div>
  </div>
</aside>
