

.display-1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}
.masthead{
  background-color: #e2e2e2;
  padding-top: 9.5rem;
  padding-bottom: 5rem;
  border-bottom: 1px;
}
.container{
  margin-top:70px;
}
a.login_cus_btn {
  text-align: center;
  margin: 0 auto;
  background: #003c50;
  padding: 10px 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
}
