footer.bg-black.text-center.py-5 {
  background: #003c50;

}
.custom-fooetr{
  padding-bottom: 10px!important;
  background: #003c50;
  padding-top: 10px;
}
.mb-2.fooetr-text {
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
